/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END RESET */

body {
    line-height: 1.4;
    color: #333940;
    background: #f4f4f4;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

/* LAYOUT */
#body-container{ padding-top: 22px; }

.post, .bookmark, .quote { margin-bottom: 1.2em; }

.post .date, .bookmark .date, .quote .date {
  float: left;
  padding: .3em .4em .3em 1.2em;
  background: #76d5ff; /* c14040 */
  margin: 0.3em 0  0 -6.0em;
  width: 3.8em;
}

#comments{
    margin-top: 1.8em;
    border-top: solid 1px #CCC;
    padding-top: .6em;
}

.post .teaser{
    border-bottom: solid 1.0em #333940;
    padding: .1em .1em .8em .1em;
    margin-bottom: .9em;
}

#right-rail p {
    font-size: .8em;
    margin-bottom: 1.8em;
}

.post_list .post, #header, .post_list .quote, .post_list .bookmark {
    padding-bottom: 1.2em;
    border-bottom: 1px solid #ccc;
}
.post_detail .subscribe {
    margin-top: 1.2em;
}

#right-rail ul{ margin-left: 0em;}

.filter-title{
    margin-bottom: 1.2em;
    background-color: #ccc;
    padding: .3em;
}

.post-img {
    margin: 1.2em 0em 1.2em 1.2em;
    padding: .8em .8em 0em 1.6em;
    background-color: #e4e4e4;
    width: 564px;
    border-left: solid 1.0em #dedede;
}

.post-img p {
    margin-left: .2em;
    line-height: 1.4em;
}

.post-img {
  float: left;
  margin: 0.3em 0  0 -6.0em;
}

.video
{
    background-color: #000;
    text-align: center;
}

ul.recent-posts li, .post li
{
    list-style: disc;
    left-margin: 1.2em;
    list-style-position: inside;
    color: #333940;
}

.bookmark p{ margin-top: .8em;}

/* FORMS */
label
{
    display:block;
    font-weight: bold;
}

#form-error
{
    color: #c14040;
}

#form-error li
{
    list-style: disc;
}

/* CODE */
pre, pre.prettify
{
  overflow: auto;
  z-index: 0;
  background-color: #fff;
  padding: .6em 0em .6em .6em;
  display: block;
  width: 99%;
  border: 1px solid red;
}


/* HEADER/NAV */
#header
{
  margin-left: 80px;
  width: 960px;
  margin-bottom: 30px;
    padding-bottom: 1.0em;
}

#logo { float: left; }

.navbar-one {
    margin-top: 10px;
    float: right;
    margin-top: .6em;
}

#search {
    margin-top: 10px;
    margin-top: 1.6em;
    margin-bottom: 1.8em;
    float: right;
}

ul.navbar-one li
{
  float:left;
  list-style: none;
  margin-right: 20px;
}

#nav{ float: right; }

.button{ margin-left: .6em;}

.subscribe li
{
  float:left;
  list-style: square;
  margin-left: 2.6em;
}

/* PAGINATION */
#pagination .older{ float: right; }

#pagination .newew{ float: left; }

/* FOOTER */
#footer{ margin-top: 2.8em; }

#footer p{ margin-left: 1.6em; padding-bottom: 1.8em; }

/* TYPE BASE */
p, ul, ol, pre { font-size: 1em; margin: 0 0 0.6em; }

ul, ol { margin-left: 1.4em; }

ul ul { margin-bottom: 0; }

h1{ font-size: 2.0em; }

h2, h3, h4, h5 { margin: 1em 0 0.2em; font-weight: bold; }

h2 { margin: 0.25em 0 .2em; font-size: 1.8em; letter-spacing: -0.025em; line-height: 1.2em; font-weight: 400; }

h3 { font-size: 1em; margin-bottom: 0.25em; }

h4 { font-size: 0.875em; }

p, li { font-size: .9em; line-height: 1.4em;}

/* TYPE SPECIFIC */
.post .teaser{
    font-size: 1.1em;
    line-height: 1.2em;
}

#right-rail p, #right-rail ul {font-size: .8em;}

.post .date, .bookmark .date, .quote .date  { color: #fff; }

ul.navbar-one li
{
  font-size: .9em;
  text-decoration: none;
  color: #999ca0;
}

#footer p{ font-size: .8em; }

.filter-title{ font-size: 1.4em; }

.list-tease { font-size: .9em; }

.subscribe ul{ font-size: .9em;}

/* LINKS */
a:link, a:visited {
    /* 76d5ff 3c94bc 3e4d5c 66bbe0 */
    color: #3c94bc;
    text-decoration: none;
    font-weight: bold;
}

a:hover { color: #3c94bc; }

h2 a:link, h2 a:visited{ font-weight: 400; color: #333940;}

h2 a:hover { font-weight: 400; color: #3c94bc;}

#nav ul li a
{
  text-decoration: none;
  font-weight: 400;
  font-size: 1.0em;

}

/* STYLE/ACCENTS */
#bleeder {
    background: transparent url('../img/bg_trans.png') top left repeat-y;
    width: 10px;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    height: 100%;
}

/* HELPERS */
.hide
{
  display: none;
  margin-left: -1000;
}