include AUTHORS
include LICENSE
include LICENSE.prettify
include README.textile
include docs/CHANGELOG.txt
include docs/INSTALL.textile
include mingus/requirements.txt
include mingus/stable-requirements.txt
include mingus/core/fixtures/test_data.json
include mingus/local_settings.py.template
recursive-include mingus/media *.js *.css *.png
recursive-include mingus/templates *.html *.txt
