{% extends "base.html" %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}
{% block body_class %}{{ block.super }} quote_detail{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}

<div class="post clearfix">
	<div class="date">{{ object.publish|date:"M d" }}</div>
	<h2>{{ object.title }}</h2>
  	<div class="body">
	 <blockquote class="quote">
	   {{ object.quote|safe }}
	   <p class="source">&mdash; {{ object.source }}<p>
	 </blockquote>
  	</div>
</div>
<!-- post -->



{% include "blog/includes/_comments.html" %}

{% endblock %}

