{% extends "base.html" %}


{% block title %}{{ block.super }}{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
  <div class="post_list">
    {% for object in object_list %}
    {% ifequal object.content_type.name "post" %}
      {% include "proxy/includes/post_item.html" %}
    {% endifequal %}
    {% ifequal object.content_type.name "quote" %}
      {% include "proxy/includes/quote_item.html" %}
    {% endifequal %}
    {% ifequal object.content_type.name "bookmark" %}
      {% include "proxy/includes/bookmark_item.html" %}
    {% endifequal %}
    {% endfor %}
  </div>

{% endblock %}