{% extends "blog/base_blog.html" %}
{% load cache i18n %}


{% block title %}{% trans "Posts for" %} {{ category.title }} | {{ block.super }}{% endblock %}
{% block body_class %}{{ block.super }} category_detail{% endblock %}
{% block body_id %}category_{{ category.id }}{% endblock %}

{% block content %}

<h2 class="filter-title">{% trans "Posts for" %} {{ category.title }}</h2>

  <div class="post_list">
  {% cache 3600 "blog.category_detail.object_list" category.title %}
    {% for post in object_list %}
  {% include "blog/includes/post_list.html" %}
    {% endfor %}
  {% endcache %}
  </div>
{% endblock %}

{% block rss %}
  {{ block.super }}
  <link rel="alternate" type="application/rss+xml"title="{{ category.title }} posts feed" 
    href="/feeds/categories/{{ category.slug }}" />
{% endblock %}
