{% extends "blog/base_blog.html" %}
{% load cache i18n archive %}

{% block body_class %}{{ block.super }} category_detail{% endblock %}
{% block body_id %}category_{{ category.id }}{% endblock %}

{% block content %}

<h1 class="filter-title">{% trans "Posts for" %} {{ year }}</h1>

{% get_post_archive as months %}
<ul class="archive">
    {% for date in months %}
    <li><a href="{% url blog_archive_month date|date:"Y", date|date:"m" %}" title="{{ date|date:"F Y" }}">{{ date|date:"F Y" }}</a></li>
    {% endfor %}
</ul>

<div class="post_list">
    {% for post in object_list %}
        {% include "blog/includes/post_list.html" %}
    {% endfor %}
</div>
{% endblock %}
