{% extends "blog/base_blog.html" %}
{% load blog tagging_tags inlines cache pygment_tags oembed_tags i18n tagging_related %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block meta %}
<meta name="keywords" content="{{ object.get_meta_keywords }}">
<meta name="description" content="{{ object.get_meta_description }}">
<meta name="author" content="{{ object.author.get_full_name }}">
{% endblock %}

{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% comment 'previous and next posts' %}
{% block content_title %}
  <p class="other_posts">
    {% if object.get_previous_by_publish %}
    <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}">&laquo; {{ object.get_previous_post }}</a>
    {% endif %}
    {% if object.get_next_by_publish %}
    | <a class="next" href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post }} &raquo;</a>
    {% endif %}
  </p>
{% endblock %}
{% endcomment %}

{% block content %}

  <div class="post clearfix">
    <div class="date">{{ object.publish|date:"M d" }}</div>
    <h2>{{ object.title }}</h2>
    {% if object.tease %}
        <p class="teaser">{{ object.tease|safe }}</p>
    {% endif %}
      <div class="body">
  {% oembed %}
      {{ object.body_markup|render_inlines|pygmentize|safe }}
  {% endoembed %}
      </div>
  </div>

  {% cache 300 "blog.post_detail.tag_list" object.pk %}
  {% tags_for_object object as tag_list %}
  {% if tag_list %}
  <p class="inline_tag_list"><strong>Tags:</strong>
    {% for tag in tag_list %}
    <a href="/tags/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
  {% endcache %}

  {% cache 1800 "blog.post_detail.related_list" object.pk %}
  {% tagged_get_related object in blog.Post as post_list with num=3 %}
  {% if post_list %}
  <div class="related-posts">
  <p class="inline_tag_list"><strong>Related posts:</strong></p>
  <ol>
  {% for post in post_list %}
  <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ol>
  </div>
  {% endif %}
  {% endcache %}

  <div class="subscribe clearfix">
    <ul>
      <li><a href="http://twitter.com/?status=reading: {{ object.title }} - {{ SITE_URL }}{{ object.get_absolute_url }}" target="_blank">{% trans "Twitter this" %}</a></li>
      <li><a href="http://www.reddit.com/submit?title={{ object.title }}&url=http://{{ BLOG_SETTINGS.site.domain }}{{ object.get_absolute_url }}" target="_blank">{% trans "Reddit this" %}</a></li>
      <li><a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;">{% trans "Add to Delicious" %}</a></li>
      <li><a href="{{ FEED_SUBSCRIBE_RSS }}">{% trans "Subscribe RSS" %}</a></li>
    </ul>
  </div>
  <!-- post -->

{% include "blog/includes/comments.html" %}

{% endblock %}
