BeautifulSoup==3.0.8
PIL
python-dateutil==1.4.1
django==1.1.1
django-debug-toolbar==0.8.1
django-tagging==0.3
Pygments==1.1.1
FeedParser==4.1
Markdown==2.0.1
textile==2.1.3
django-robots==0.6.1


-e git+git://github.com/django-extensions/django-extensions.git#egg=django_extensions

-e git+git://github.com/montylounge/django-basic-apps.git#egg=basic
-e git+git://github.com/zerok/django-flatblocks.git#egg=flatblocks
-e git+git://github.com/montylounge/django-disqus.git#egg=disqus
-e svn+http://django-navbar.googlecode.com/svn/trunk#egg=navbar
-e svn+http://django-db-log.googlecode.com/svn/trunk#egg=djangodblog
-e hg+https://sorl-thumbnail.googlecode.com/hg/#egg=sorl
-e git+git://github.com/brosner/django-oembed.git#egg=oembded
-e svn+http://django-template-utils.googlecode.com/svn/trunk#egg=template_utils
-e git+git://github.com/montylounge/django-proxy.git#egg=django_proxy

-e git+git://github.com/mintchaos/django_compressor.git#egg=compressor
-e git+git://github.com/bartTC/django-markup.git#egg=django_markup
-e git+git://github.com/montylounge/django-google-analytics.git#egg=google_analytics
-e hg+https://bitbucket.org/kmike/django-view-cache-utils/#egg=view_cache_utils
-e hg+https://bitbucket.org/ubernostrum/django-contact-form/#egg=contact_form
-e git+git://github.com/sunlightlabs/django-honeypot.git#egg=honeypot
-e git+git://github.com/montylounge/django-sugar.git#egg=sugar
-e git+git://github.com/montylounge/django-quoteme.git#egg=quoteme

-e hg+http://bitbucket.org/jezdez/django-staticfiles/#egg=django-staticfiles
-e hg+http://bitbucket.org/discovery/django-bitly/#egg=django-bitly
-e git+git://github.com/skevy/django-twitter.git#egg=django-twitter
-e hg+https://python-twitter.googlecode.com/hg/#egg=python-twitter
-e svn+http://django-tinymce.googlecode.com/svn/trunk/#django-tinymce
-e git+git://github.com/pydanny/django-wysiwyg.git#egg=django-wysiwyg
-e git+git://github.com/hbussell/django-slimmer.git#egg=django-slimmer
-e git+git://github.com/montylounge/django_cropper.git#egg=django-cropper
django-dbtemplates==0.6.1
django-memcache-status==1.0.1
-e git+git://github.com/kylef/django-request.git#egg=django-request






