{% extends "base.html" %}
{% load cache i18n tagging_tags %}

{% block content %}

<p>{% trans "Quick fact, my favorite food is" %} {{ favorite_food }}.</p>

<h2>{{ object.title }}</h2>

{% cache 180 "quote.quote_detail" object.pk %}
<div>
    <div>
        {% if object.quote %}
            <blockquote>{{ object.quote }}</blockquote>
        {% endif %}
    </div>
    <div>
        {% if object.author %}
      {% if object.url_source %}
            <span>- <a href="{{ object.url_source }}">{{ object.author }}</a></span>
      {% else %}
      <span>- {{ object.author }} {% if object.circa %}, {{ object.circa }}{% endif %}</span>
      {% endif %}

       {% endif %}
    </div>

    {% tags_for_object object as tag_list %}
    {% if tag_list %}
    <br/>
    <p class="inline_tag_list"><strong>Related tags:</strong>
    {% for tag in tag_list %}
    <a href="/tags/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
    {% endif %}

</div>
{% endcache %}

{% include "blog/includes/comments.html" %}

{% endblock %}